* {
    margin: 0;
    padding: 0;
}

.homeImage {
    width: 100%;
    height: auto;
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: auto 50%;
    -webkit-background-size: auto 50%;
    -o-background-size: auto 50%;
    background-size: auto 50%;}

#wall_1{
    /* The image used */
    background-image: url("../images/home/prabhupada1.jpg");
}

#wall_2{
    /* The image used */
    background-image: url("../images/home/radha-natabara1.JPG");
}

#wall_3{
    /* The image used */
    background-image: url("../images/home/nitai-gaura1.jpg");
}

.content {
    background: white;
    z-index: 2;
}
.content h1 {
    font-size: 40px;
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 30px 60px;
}
.content p {
    font-size:20px;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 30px 60px;
}

#nav {
    height: 70px;
    width: 100%;
    top:0;
    left:0;
    background: rgba(255,255,255,1);
    z-index: 100;
    -webkit-box-shadow:0px 0px 20px rgba(44,44,44,.3);
}

#content_1 {position: relative;}

/*h1::first-letter {*/
    /*font-size: 60px;*/
    /*font-weight: 600;*/
    /*color:#3cb0f8;*/
/*}*/